.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}
.veg-check {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
}

.veg-check input[type="checkbox"] {
  position: relative;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
}

.veg-check input[type="checkbox"]:checked::before {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid #3AB7AC;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.veg-check label {
  cursor: pointer;
  color: #f8f3f3;
  transition: color 0.2s ease-in-out;
}

.veg-check label:hover {
  color: #3AB7AC;
}

.Heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.sort {
  margin-right: 1rem;
}

.sort-by {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #fff;
  color: #333;
}

.sort-by:hover,
.sort-by:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.sort-by option {
  font-size: 1rem;
  color: #333;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.navbar .nav-links {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar .nav-links li {
  margin: 0 1rem;
}

.navbar .nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

/* Cart */

.navbar button {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.navbar button:hover {
  background-color: #333;
  color: #fff;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .nav-links {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }

  .navbar .nav-links li {
    margin: 0.5rem 0;
  }

  .navbar button {
    margin-top: 1rem;
  }
}

.Board {
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}
.cart-board {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.cart-board h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.cart-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.cart-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.cart-card p {
  margin: 5px 0;
}

.cart-card p:first-child {
  font-weight: bold;
}

.cart-card p:last-child {
  margin-top: 10px;
}

.cart-board p:last-child {
  font-weight: bold;
  font-size: 18px;
  text-align: right;
}
.pizza-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.details {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.details img {
  width: 70%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
  margin: 20px;
  border-radius: 5px;
}

.details h1 {
  font-size: 24px;
  margin: 10px;
  text-align: left;
}

.details p {
  font-size: 16px;
  margin: 10px;
  text-align: left;
}

.popup {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

.popup-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}

.form-group select,
.form-group input[type='radio'],
.form-group input[type='checkbox'] {
  margin-right: 10px;
}

button {
  background-color: #f04e23;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 5px;
}

button:hover {
  background-color: #fff;
  color: #f04e23;
  border: 2px solid #f04e23;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  font-size: 24px;
  text-align: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  font-size: 24px;
  text-align: center;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-lg-6 {
  flex-basis: 50%;
}

.col-lg-3 {
  flex-basis: 25%;
}

h4 {
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}

li {
  margin-bottom: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #f2a900;
}

.bottom-bar {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}


@media only screen and (max-width: 768px) {
  .pizza-card {
    flex-direction: column;
    align-items: center;
  }

  .pizza-card img {
    max-width: 100px;

  }

  .details {
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }
  .details p {
    font-size: 16px;
    margin: 10px;
    text-align: justify;
  }
}

